<!DOCTYPE html>
<html lang="en">

<head>
	<title>WatchVault Shopping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- Include SweetAlert2 CSS and JS -->
	

	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						WatchVault
					</div>

					<!-- <div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>
					</div> -->
				</div>
			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/home" class="logo">
						<img src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/home">Home</a>
							</li>

							<li>
								<a href="/shop">Shop</a>
							</li>
							<li>
								<a href="/profile">Profile</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div> -->

						<a href="/loadCart"
							class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
							data-notify="<%= cartLength %>">
							<i class="zmdi zmdi-shopping-cart"></i>
						</a>

						<a href="/wishlist" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
							data-notify="<%= wishlistCount %>">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
					data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
					data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							USD
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/home" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/loadCart" class="stext-109 cl4">
				Shopping Cart
			</a>
		</div>
	</div>


	<!-- Shopping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-14 col-xl-10 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2">Product Name</th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-6">Delete</th>
								</tr>

								<% if(locals.cartData) { %>
									<% var grandTotal=0 %>
										<% for(let i=0; i<cartData.product.length; i++) { %>
											<tr class="table_row">
												<td class="product_thumb">
													<a
														href="/productDetails?id=<%= cartData.product[i].productId._id %>">
														<img width="140px"
															src="/public/uploads/<%= cartData.product[i].productId.images[0] %>"
															alt="">
													</a>
												</td>
												<th class="column-2">
													<a
														href="/productDetails?id=<%= cartData.product[i].productId._id %>">
														<%= cartData.product[i].productId.productName %>
													</a>
												</th>
												<td class="column-3">
													<%= cartData.product[i].productId.price %>
												</td>
												<td class="column-4">
													<div style="display: flex; align-items: center;">
														<button id="minusBtn_<%= cartData.product[i].productId._id %>"
															style="background-color: #717fe0	; color: white; border: none; padding: 10px; cursor: pointer; font-size: 16px; border-radius: 5px; margin: 0 5px; transition: background-color 0.3s ease;"
															onclick="decrease('<%= cartData.product[i].productId._id %>')">
															<i class="fa fa-minus"></i>
														</button>
														<input min="1" max="3"
															id="quantity_<%= cartData.product[i].productId._id %>"
															value="<%= cartData.product[i].quantity %>" type="number"
															readonly
															style="width: 50px; text-align: center; border: 1px solid #ccc; border-radius: 5px; padding: 5px; font-size: 16px; margin: 0 5px;">
														<button id="plusBtn_<%= cartData.product[i].productId._id %>"
															style="background-color: #717fe0	; color: white; border: none; padding: 10px; cursor: pointer; font-size: 16px; border-radius: 5px; margin: 0 5px; transition: background-color 0.3s ease;"
															onclick="increase('<%= cartData.product[i].productId._id %>')">
															<i class="fa fa-plus"></i>
														</button>
													</div>
												</td>
												<td class="column-5">
													<span id="total_<%= cartData.product[i].productId._id %>">
														<%= cartData.product[i].price * cartData.product[i].quantity %>
													</span>
												</td>
												<% let total=cartData.product[i].price * cartData.product[i].quantity %>
													<% grandTotal +=total %>
														<td class="column-6">
															<a href="#"
																onclick="deleteItem('<%= cartData.product[i].productId._id %>')">
																<i class="fa fa-trash-o"></i>
															</a>
														</td>
											</tr>
											<% } %>
							</table>
							<% if (locals.message) { %>
								<script>
									Swal.fire({
										icon: 'warning',
										title: 'Unavailable Products',
										text: '<%= locals.message %>',
										confirmButtonText: 'OK'
									});
								</script>
								<% req.session.message=null; // Clear the message after displaying it %>
									<% } %>




						</div>

						<!-- <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<a href="/updateCart"
								class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</a>
						</div> -->
					</div>
				</div>

			</div>
			<!-- cart table end -->

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Totals
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Total
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								₹ <%= grandTotal %>
							</span>
						</div>

					</div>
					<% } %>

						<!-- <div class="flex-w flex-t bor12 p-t-15 p-b-30">
						<div class="size-208 w-full-ssm">
							<span class="stext-110 cl2">
								Shipping:
							</span>
						</div>

						<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
							<p class="stext-111 cl6 p-t-2">
								There are no shipping methods available. Please double check your address, or contact us
								if you need any help.
							</p>

							<div class="p-t-15">
								<span class="stext-112 cl8">
									Calculate Shipping
								</span>

								<div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
									<select class="js-select2" name="time">
										<option>Select a country...</option>
										<option>USA</option>
										<option>UK</option>
									</select>
									<div class="dropDownSelect2"></div>
								</div>

								<div class="bor8 bg0 m-b-12">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state"
										placeholder="State /  country">
								</div>

								<div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode"
										placeholder="Postcode / Zip">
								</div>

								<div class="flex-w">
									<div
										class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
										Update Totals
									</div>
								</div>

							</div>
						</div> -->
				</div>

				<!-- <div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Total:
							</span>
						</div>

						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2">
								$79.65
							</span>
						</div>
					</div> -->
				<a class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
					href="/checkout">Proceed to Checkout
				</a>
			</div>
		</div>
		</div>
	</form>


	<%- include('./userPartials/footer.ejs') %>


		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

		<!--===============================================================================================-->
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>
		<!--===============================================================================================-->
		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>
		<!--===============================================================================================-->
		<script src="js/main.js"></script>

		<script>
			function updateCartItem(productId, quantityChange) {
				return fetch(`/updateCart`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ quantity: quantityChange, productId: productId }),
				})
					.then(response => {
						if (!response.ok) {
							return response.json().then(error => {
								throw new Error(error.error || 'Unknown error');
							});
						}
						return response.json();
					});
			}

			function decrease(productId) {
				const quantityInput = document.getElementById(`quantity_${productId}`);
				let currentQuantity = parseInt(quantityInput.value, 10);

				if (currentQuantity > 1) {
					updateCartItem(productId, -1)
						.then(() => {
							currentQuantity--;
							quantityInput.value = currentQuantity;
							updateTotal(productId, currentQuantity);
							updateSubtotal();
						})
						.catch(error => {
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: error.message,
							});
						});
				}
			}
			function increase(productId) {
				const quantityInput = document.getElementById(`quantity_${productId}`);
				let currentQuantity = parseInt(quantityInput.value, 10);

				updateCartItem(productId, 1)
					.then(() => {
						currentQuantity++;
						quantityInput.value = currentQuantity;
						updateTotal(productId, currentQuantity);
						updateSubtotal();
						console.log("stock innnnnnnnnnnnnnnn");

					})
					.catch(error => {
						// Check if error response exists and handle it
						if (error) {
							console.log("stock outttttttttttttttt111111111111111");
							alert("Stock Limit Reached")
							

							Swal.fire({
								icon: 'error',
								title: 'Stock Limit Reached',
								text: error.response.data.error,  // Display backend error in Swal
							});
						}
					});
			}



			function updateTotal(productId, quantity) {
				const priceElement = document.getElementById(`price_${productId}`);
				const offerPriceElement = priceElement.querySelector('.discounted-price');

				let price = parseFloat(offerPriceElement ? offerPriceElement.innerText.replace('₹', '') : priceElement.innerText.replace('₹', ''));
				if (isNaN(price)) {
					console.error(`Invalid price for product ${productId}`);
					return;
				}

				const totalElement = document.getElementById(`total_${productId}`);
				totalElement.innerText = ` ₹${(price * quantity).toFixed(2)}`;
			}

			function updateSubtotal() {
				let subtotal = 0;
				document.querySelectorAll('.product_total').forEach(itemTotalElement => {
					const itemTotalText = itemTotalElement.innerText.replace(/[^\d.-]/g, '');
					const itemTotal = parseFloat(itemTotalText);
					if (isNaN(itemTotal)) {
						console.error(`Invalid total for item: ${itemTotalText}`);
						return;
					}
					subtotal += itemTotal;
				});

				const subtotalElement = document.getElementById('subtotal');
				subtotalElement.innerText = ` ₹${subtotal.toFixed(2)}`;
			}

			function updateQuantity(productId) {
				const quantityInput = document.getElementById(`quantity_${productId}`);
				const currentQuantity = parseInt(quantityInput.value, 10);
				if (isNaN(currentQuantity) || currentQuantity < 1) {
					console.error(`Invalid quantity for product ${productId}`);
					quantityInput.value = 1;
					return;
				}
				updateCartItem(productId, currentQuantity);
				updateTotal(productId, currentQuantity);
				updateSubtotal();
			}
		</script>




		<script>
			function deleteItem(productId) {
				console.log('Deleting product with ID:', productId);
				fetch('/cartDelete', {
					method: 'DELETE',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ productId })
				})
					.then(response => {
						if (response.ok) {
							window.location.href = '/loadCart';
							console.log('Product removed successfully');
						} else {
							console.error('Failed to remove product');
						}
					})
					.catch(error => console.error('Error removing product:', error));
			}


		</script>


</body>

</html>