<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>WatchVault User Profile</title>

    <link rel="stylesheet" href="/public/userAssets/honoAsset/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/public/userAssets/honoAsset/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/public/userAssets/honoAsset/assets/css/style.min.css">

    <!-- cozastore css and js -->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <style>
        .breadContainer {
            width: 100%;
            text-align: center;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

</head>

<body>
    <!-- Start Header Area -->
    <header class="header-section d-none d-xl-block">
        <div class="header-wrapper">
            <div class="header-bottom header-bottom-color--white section-fluid sticky-header sticky-color--white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Start Header Logo -->
                            <div class="header-logo">
                                <div class="logo">
                                    <a href="/home"><img src="images/icons/logo-01.png" alt=""></a>
                                </div>
                            </div>
                            <!-- End Header Logo -->

                            <!-- Start Header Main Menu -->
                            <div class="main-menu menu-color--black menu-hover-color--white">
                                <nav>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a class="active main-menu-link" href="/home">Home</a>
                                        </li>
                                        <li class="has-dropdown has-megaitem">
                                            <a href="/shop">Shop</a>
                                        </li>
                                        <li>
                                            <a href="/profile">Profile</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Header Main Menu Start -->

                            <!-- Start Header Action Link -->
                            <ul class="header-action-link action-color--black action-hover-color--white">
                                <li>
                                    <a href="/loadCart">
                                        <i class="icon-bag"></i>
                                        <span class="item-count">
                                            <%= cartCount %>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/wishlist">
                                        <i class="icon-heart"></i>
                                        <span class="item-count">
                                            <%= wishlistCount %>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <!-- <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                        <i class="icon-menu"></i>
                                    </a> -->
                                </li>
                            </ul>
                            <!-- End Header Action Link -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Start Header Area -->

    <!-- Start Mobile Header -->
    <div class="mobile-header mobile-header-bg-color--white section-fluid d-lg-block d-xl-none">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <!-- Start Mobile Left Side -->
                    <div class="mobile-header-left">
                        <ul class="mobile-menu-logo">
                            <li>
                                <a href="index.html">
                                    <div class="logo">
                                        <img src="assets/images/logo/logo_black.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Left Side -->

                    <!-- Start Mobile Right Side -->
                    <div class="mobile-right-side">
                        <ul class="header-action-link action-color--black action-hover-color--white">
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/loadCart">
                                    <i class="icon-bag"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="/wishlist">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Right Side -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile Header -->

    <!--  Start Offcanvas Mobile Menu Section -->
    <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-mobile-menu-wrapper">
            <!-- Start Mobile Menu  -->
            <div class="mobile-menu-bottom">
                <!-- Start Mobile Menu Nav -->
                <div class="offcanvas-menu">
                    <ul>
                        <li>
                            <a href="#"><span>Home</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Shop</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Blogs</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Pages</span></a>
                        </li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div> <!-- End Mobile Menu Nav -->
            </div> <!-- End Mobile Menu -->

            <!-- Start Mobile contact Info -->
            <div class="mobile-contact-info">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo_white.png" alt=""></a>
                </div>

                <address class="address">
                    <span>Address: Your address goes here.</span>
                    <span>Call Us: 0123456789, 0123456789</span>
                    <span>Email: demo@example.com</span>
                </address>

                <ul class="social-link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <ul class="user-link">
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="/loadCart">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
            <!-- End Mobile contact Info -->

        </div> <!-- End Offcanvas Mobile Menu Wrapper -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo/logo_white.png" alt=""></a>
            </div>

            <address class="address">
                <span>Address: Your address goes here.</span>
                <span>Call Us: 0123456789, 0123456789</span>
                <span>Email: demo@example.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="user-link">
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
            </ul>
        </div>
        <!-- End Mobile contact Info -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- ENd Offcanvas Header -->

        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-wishlist-wrapper">
            <h4 class="offcanvas-title">Wishlist</h4>
            <ul class="offcanvas-wishlist">
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-1/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Wheel</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$49.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-2/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Vails</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">3 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-3/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Shock Absorber</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$350.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>
            <ul class="offcanvas-wishlist-action-button">
                <li><a href="#" class="btn btn-block btn-white">View wishlist</a></li>
            </ul>
        </div> <!-- End Offcanvas Mobile Menu Wrapper -->

    </div> <!-- End Offcanvas Mobile Menu Section -->

    <!-- Start Offcanvas Search Bar Section -->
    <div id="search" class="search-modal">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-lg btn-white">Search</button>
        </form>
    </div>
    <!-- End Offcanvas Search Bar Section -->

    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <br><br>
    <div class="breadContainer">
        <h3 class="breadcrumb-title">My Account</h3>
        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--white">
            <nav aria-label="breadcrumb">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li class="active" aria-current="page">My Account</li>
                </ul>
            </nav>
        </div>
    </div>
    <br><br>
    <br><br>
    <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="#dashboard" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover active">Dashboard</a>
                            </li>
                            <li> <a href="#orders" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Orders</a></li>
                            <li><a href="#wallet" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Wallet</a></li>
                            <li><a href="#address" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Addresses</a></li>
                            <li><a href="#account-details" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Account details</a>
                            </li>
                            <li><a href="/logout" id="logout-link"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->

                    <!-- dashboard  -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                        <div class="tab-pane fade show active" id="dashboard">
                            <h2>Dashboard </h2>
                            <br>
                            <p>
                            <h4>Hello <%= userData.name %>, Welcome </h4>
                        </div>

                        <!-- orders  -->
                        <div class="tab-pane fade" id="orders">
                            <h4>Orders</h4>
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.forEach((order,index)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= index+1 %>
                                                </td>
                                                <td>
                                                    <%= new Date(order.placed).toLocaleString() %>
                                                </td>
                                                <td><span
                                                        class="<%= order.status === 'Completed' ? 'success' : (order.status === 'Pending Payment' ? 'pending' : 'processing') %>">
                                                        <%= order.status %>
                                                    </span></td>
                                                <td>₹<%= order.totalPrice %> for <%= order.product.length %> item <%=
                                                                order.product.length> 1 ? 's' : '' %></td>
                                                <td>
                                                    <a href="/orderDetails?id=<%= order._id %>" class="view">View</a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- wallet  -->
                        <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
                            <% if (wallet) { %>
                                <div class="card coupon-container"
                                    style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 250px;">
                                    <div class="card-header bg-gradient-primary text-black"
                                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                        <h5 style="margin-bottom: 0; font-size: 24px;">Wallet</h5>
                                    </div>
                                    <div class="card-body" style="max-width: 300px;">
                                        <div class="wallet-info" style="padding-bottom: 15px;">
                                            <h6 style="margin-bottom: 0; font-size: 18px;">Available Balance:</h6>
                                            <p id="balanceAmount"
                                                style="margin-top: 5px; font-size: 24px; font-weight: bold;">₹<%=
                                                    wallet.balance.toFixed(2) %>
                                            </p>
                                        </div>
                                        <div class="add-funds-form" style="margin-top: 20px;">
                                            <form id="addFundsForm" method="post" onsubmit="createOrder(event)">
                                                <div class="form-group">
                                                    <label for="amount"
                                                        style="margin-bottom: 5px; font-size: 18px;">Amount:</label>
                                                    <input type="number" class="form-control" id="amountInput"
                                                        name="amount"
                                                        style="border-radius: 20px; font-size: 16px; padding: 10px; border: 1px solid #ced4da;"
                                                        placeholder="Enter amount" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary"
                                                    style="background-color: #000000; border-radius: 20px; padding: 10px 30px; font-size: 18px;">Pay</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="transaction-history" style="max-height: 400px; overflow-y: auto;">
                                    <h2 style="position: sticky; top: 0; background-color: #ffffff; z-index: 1; color: #717fe0
; font-size: 24px; font-weight: bold; text-align: center; text-transform: uppercase; margin-bottom: 20px;">Transaction
                                        History</h2>
                                    <table style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Transaction ID</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% wallet.history.reverse().forEach(transaction=> { %>
                                                <tr>
                                                    <td>#<%= Math.random().toString(36).substr(2, 8).toUpperCase() %>
                                                    </td>
                                                    <td>
                                                        <%= new Date(transaction.createdAt).toLocaleString() %>
                                                    </td>
                                                    <td>
                                                        ₹<%= transaction.amount.toFixed(2) %>
                                                    </td>
                                                    <td>
                                                        <%= transaction.type %>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                                <% } else { %>
                                    <p>No wallet data available</p>
                                    <% } %>
                        </div>

                        <!-- address  -->
                        <div class="tab-pane" id="address">
                            <h6 class="billing-address">Billing address</h6>
                            <br>
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <br>
                            <% if(addressData && addressData.Address.length>0) { %>
                                <% addressData.Address.forEach(addr=>{ %>
                                    <p><strong>
                                            <%= addr.name %>
                                        </strong></p>
                                    <address>
                                        Address: <%= addr.address %> <br>
                                            City: <%= addr.city %> <br>
                                                State: <%= addr.state %> <br>
                                                    Country: <%= addr.country %> <br>
                                                        Pincode: <%= addr.pincode %> <br>
                                                            Phone: <%= addr.phone %> <br>
                                    </address>
                                    <a href="/editAddress?id=<%= addr._id %>" class="view">Edit Address</a>
                                    <span>|</span>
                                    <a href="/deleteAddress?id=<%= addr._id %>" class="delete"
                                        data-id="<%= addr._id %>">Delete Address</a>
                                    <br><br>
                                    <% }) %>
                                        <% } else { %>
                                            <p>No address found</p>
                                            <% } %>
                                                <br>
                                                <br>
                                                <a href="/addAddress" type="button">Add Address</a>
                        </div>

                        <!-- account details  -->
                        <div class="tab-pane fade" id="account-details">
                            <h3>Account details </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form action="#">
                                            <br>
                                            <div class="default-form-box mb-20">
                                                <label>Name</label>
                                                <input type="text" name="name" value="<%= userData.name %>">
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Email</label>
                                                <input type="text" name="email" value="<%= userData.email %>">
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Phone Number</label>
                                                <input type="text" name="phone" value="<%= userData.mobile %>">
                                            </div>
                                            <!-- <br>
                                            <br>
                                            <div class="save_button mt-3">
                                                <button class="btn btn-md btn-black-default-hover"
                                                    type="submit">Save</button>
                                            </div>
                                            <div class="save_button mt-3">
                                                <button class="btn btn-md btn-black-default-hover" type="submit">Change
                                                    Password</button>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->
    <br><br><br><br>

    <!-- Start Footer Section -->
    <%- include('./userPartials/footer.ejs') %>
        <!-- End Footer Section -->

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>



        <!-- ::::::::::::::All JS Files here :::::::::::::: -->
        <!-- Global Vendor, plugins JS -->
        <!-- <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.min.js"></script>  -->

        <!--Plugins JS-->
        <!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/material-scrolltop.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="assets/js/plugins/venobox.min.js"></script>
    <script src="assets/js/plugins/jquery.waypoints.js"></script>
    <script src="assets/js/plugins/jquery.lineProgressbar.js"></script>
    <script src="assets/js/plugins/aos.min.js"></script>
    <script src="assets/js/plugins/jquery.instagramFeed.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script> -->

        <!-- Use the minified version files listed below for better performance and remove the files listed above -->
        <script src="/public/userAssets/honoAsset/assets/js/vendor/vendor.min.js"></script>
        <script src="/public/userAssets/honoAsset/assets/js/plugins/plugins.min.js"></script>

        <!-- Main JS -->
        <script src="/public/userAssets/honoAsset/assets/js/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <!-- addtowallet payments -->
        <script>
            async function createOrder(event) {
                event.preventDefault();

                const amount = document.getElementById('amountInput').value;
                console.log(amount, 'amount in cereateorder fronttt');


                // Validate if the amount is zero or negative
                if (parseFloat(amount) <= 0) {
                    swal({
                        title: "Invalid Amount",
                        text: "The amount cannot be zero or negative. Please enter a valid amount.",
                        icon: "warning",
                        button: "OK"
                    });
                    return; // Stop the function execution if the amount is invalid
                }

                try {
                    // Make the request to add amount to wallet only if the amount is valid
                    const response = await fetch('/addToWallet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ amount })
                    });

                    if (!response.ok) {
                        const error = await response.json();
                        swal({
                            title: "Error",
                            text: error.message || "Something went wrong while creating the order.",
                            icon: "error",
                            button: "OK"
                        });
                        return;
                    }

                    const { order } = await response.json();

                    const options = {
                        key: "rzp_test_KBfeMuv9hM52Z0",  // Your Razorpay key
                        amount: order.amount,
                        currency: "INR",
                        name: "WatchVault",
                        description: "Add Fund to Wallet",
                        order_id: order.id,
                        handler: function (response) {
                            verifyPayment(response, amount); // Pass the payment details and amount to the verifyPayment function
                        },
                        prefill: {
                            name: "WatchVault",
                            email: 'watchvault@gmail.com',
                            contact: '7744774477'
                        },
                        theme: {
                            color: "#3399cc"
                        }
                    };

                    const rzp1 = new Razorpay(options);
                    rzp1.open();

                } catch (error) {
                    console.error('Error creating order:', error);
                    swal({
                        title: "Error",
                        text: "Something went wrong while creating the order. Please try again.",
                        icon: "error",
                        button: "OK"
                    });
                }
            }


        </script>

        <script>
            const notyf = new Notyf();

            async function verifyPayment(paymentData, amount) {
                try {
                    const response = await fetch('/verifyPaymentWallet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            razorpay_order_id: paymentData.razorpay_order_id,
                            razorpay_payment_id: paymentData.razorpay_payment_id,
                            razorpay_signature: paymentData.razorpay_signature,
                            amount: amount
                        })
                    });

                    const result = await response.json();

                    console.log(result, 'response in verify wallet payment in front');

                    if (response.ok && result.success) {
                        notyf.success('Payment successful and wallet updated');
                        location.reload();
                    } else {
                        swal({
                            title: "Error",
                            text: result.message || 'Payment verification failed',
                            icon: "error",
                            button: "OK",
                        });
                    }
                } catch (error) {
                    console.error('Error in payment verification:', error);
                    notyf.error('Payment verification failed: ' + error.message);
                }
            }



        </script>

        <!-- sweetalert for logout -->
        <script>
            document.getElementById("logout-link").addEventListener("click", function (event) {
                event.preventDefault(); // Prevent the default action
                Swal.fire({
                    title: 'Are you sure you want to logout?',
                    text: "You are about to logout!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, logout!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout"; // Redirect to the logout URL
                    }
                });
            });
        </script>
</body>

</html>